<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winter.portal.server.mapper.UserMapper">

    <select id="page" resultType="com.winter.portal.server.entity.UserEntity">
        select
        t1.*,
        t2.org_name
        from sys_user t1
        left join sys_org t2 on t1.org_id = t2.id
        <where>
            t1.create_time between #{uq.startDate} and #{uq.endDate}
            <if test="uq.username != null and uq.username !=''">
                and t1.username = #{uq.username}
            </if>
            <if test="uq.phone != null and uq.username !=''">
                and t1.phone = #{uq.phone}
            </if>
            <if test="uq.enabled != null">
                and t1.enabled = #{uq.enabled}
            </if>
        </where>
        order by t1.enabled desc,t1.create_time desc
    </select>

    <select id="getUserRoleIds" resultType="java.lang.Long">
        select role_id from sys_user_role where user_id = #{id}
    </select>

</mapper>
